body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
}

.main__sites {
    display: flex;
    flex-direction: column;
}

a {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    border-radius: 5px;
    background-color: #85559f;
    color: #fffdfd;
    padding: 0.5em;
    transition: 0.2s;
    transition-property: background-color, box-shadow, transform;
    margin-bottom: 20px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

a:hover {
    /* transform: scale(1.5); */
    color: #fffdfd;
    background-color: #644275;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.2);
}

a:active {
    transform: scale(0.9);
}

img {
    height: 20px;
    margin-right: 10px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
}

li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 230px;
    /*max-width: 500px;*/
    flex-basis: 30%;
    flex-grow: 1;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    transition-property: background-color, box-shadow, transform;
}

li:hover {
    box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.2);
    background-color: #ededed;
}

details,
summary,
a {
    font-size: 20px;
}

details {
    display: block;
    margin-bottom: 8px;
}

summary::-webkit-details-marker {
    display: none;
}

summary::-moz-list-bullet {
    list-style-type: none;
}

summary::marker {
    display: none;
}

summary {
    padding: 0.5rem;
    display: inline-block;
    font-size: 1.4em;
    cursor: pointer;
    margin-bottom: 8px;
    /*user-select: none;*/
    transition: 0.2s;
    transition-property: background-color, box-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

summary:before {
    content: "+";
    margin-right: 0.3em;
}

summary:hover {
    background-color: #ededed;
}

details[open] > summary:before {
    content: "–";
}

details[open] > summary {
    background-color: #d6d6d6;
}

summary ~ * {
    padding: 0 1em 0 1em;
}

summary:focus {
    outline: 0;
}
